# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
vir-env/
.env

# -----------------------------
# Testing / Coverage
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Node (Frontend)
# -----------------------------
# Node
node_modules/
**/node_modules/

# -----------------------------
# OS / System files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log